# web app
fastapi
uvicorn[standard]
skyfield
jinja2==3.1.4
python-dotenv
requests
sqlalchemy
psycopg2-binary
python-multipart

# agent (requires librtlsdr: brew install librtlsdr)
pyrtlsdr
numpy
scipy
